{% extends 'base.html' %}
{% block contents %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">보안/인공 친선평가기능경기대회</h1>
            <p class="col-md-8 fs-4">
                2022-02-07 사전준비
                <br>
                2022-02-08 제1과제 및 채점
                <br>
                2022-02-09 제2과제 및 채점/결과발표
            </p>
            <p class="col-md-8 fs-4">
                정보관 3층
            </p>
            <a href="{% url 'account' %}" class="btn btn-primary btn-lg">원서접수(회원가입)</a>
        </div>
    </div>
{% endblock %}